@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif; }
  body a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #a7dbd2;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    body a:hover {
      text-decoration: none;
      color: #f16262; }
  body p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300; }
  body h1 {
    font-size: 50px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 20px; }
  body h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 500; }
  body h3 {
    font-size: 26px;
    font-weight: 500; }
  body h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500; }
  body .container {
    padding: 0 10px;
    width: 100%;
    max-width: 1400px; }
    @media all and (min-width: 768px) {
      body .container {
        padding: 0 30px; } }
  body .mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 10;
    margin: 15px 15px 10px;
    width: calc(100% - 30px); }
    body .mobile-nav a {
      float: left; }
      body .mobile-nav a img {
        width: 50px; }
    body .mobile-nav p {
      font-size: 30px;
      font-weight: 700;
      padding-top: 15px;
      color: #a7dbd2;
      height: auto;
      float: right; }
    @media all and (min-width: 768px) {
      body .mobile-nav {
        display: none; } }
  body .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(167, 219, 210, 0.9);
    margin: 0;
    z-index: 100;
    padding: 30px 15px; }
    body .nav.ng-hide {
      display: none; }
    @media all and (min-width: 768px) {
      body .nav {
        display: block;
        position: absolute;
        margin: 15px 15px 10px;
        z-index: 10;
        background-color: transparent;
        padding: 0;
        width: auto;
        height: auto; }
        body .nav.ng-hide {
          display: block !important; } }
    body .nav .close {
      opacity: 1;
      text-shadow: none; }
      @media all and (min-width: 768px) {
        body .nav .close {
          display: none; } }
      body .nav .close p {
        font-size: 26px;
        color: #fff; }
    body .nav ul li {
      display: block;
      margin: 40px auto 20px;
      text-align: center; }
      body .nav ul li:first-of-type {
        display: none; }
      @media all and (min-width: 768px) {
        body .nav ul li {
          margin: 0 15px 0 0;
          display: inline-block;
          vertical-align: middle; }
          body .nav ul li:first-of-type {
            display: inline-block; }
          body .nav ul li.home {
            display: none; } }
      body .nav ul li img {
        width: 50px; }
      body .nav ul li a {
        font-size: 36px;
        color: white; }
        @media all and (min-width: 768px) {
          body .nav ul li a {
            color: #a7dbd2;
            font-size: 20px; } }
  body .home {
    position: relative; }
    body .home .hero-image {
      background: url("https://scontent.cdninstagram.com/t51.2885-15/e35/15803064_1881418992087980_7952632226334638080_n.jpg?ig_cache_key=MTQxOTkwNjQ3MjkyNjQzMTU4Nw%3D%3D.2") no-repeat 50% 50%;
      height: 100vh;
      background-size: cover; }
    body .home .about-row {
      padding: 0;
      box-sizing: border-box; }
      @media all and (min-width: 768px) {
        body .home .about-row {
          height: 365px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
      body .home .about-row .about-info {
        padding: 20px 10px; }
        @media all and (min-width: 768px) {
          body .home .about-row .about-info {
            display: inline-block;
            width: 50%;
            float: right;
            padding: 25px;
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center; } }
        body .home .about-row .about-info h1 {
          text-transform: uppercase;
          color: #7db6ab; }
        body .home .about-row .about-info p {
          color: #7db6ab; }
      body .home .about-row .about-image {
        height: 300px;
        background: url("https://scontent.cdninstagram.com/t51.2885-15/e35/15101527_1693024027674449_3970649762813706240_n.jpg?ig_cache_key=MTM4MzQ3Mzc0MzA5MTYyMTUzNw%3D%3D.2") 50% 50% no-repeat;
        background-size: cover; }
        @media all and (min-width: 768px) {
          body .home .about-row .about-image {
            display: inline-block;
            width: 50%;
            height: 100%; } }
    body .home .map-section .title {
      background-color: #7db6ab;
      padding: 10px; }
      body .home .map-section .title h1 {
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        margin: 20px 0; }
    body .home .map-section .map {
      height: 300px;
      background: url("https://i.stack.imgur.com/RdkOb.jpg") 50% 50% no-repeat;
      background-size: cover;
      margin: 0 0 10px; }
      @media all and (min-width: 768px) {
        body .home .map-section .map {
          margin: 0 0 40px;
          height: 600px; } }
      body .home .map-section .map #map {
        width: 100%;
        height: 100%; }
    body .home .map-section .locations-grid {
      box-sizing: border-box;
      overflow: hidden; }
      body .home .map-section .locations-grid .location-tile {
        box-sizing: border-box;
        height: 200px;
        width: 100%;
        margin: 0 0 10px;
        position: relative; }
        @media all and (min-width: 768px) {
          body .home .map-section .locations-grid .location-tile {
            height: 225px;
            width: calc(50% - 20px);
            float: left;
            position: relative;
            margin: 0 10px 20px 10px; }
            body .home .map-section .locations-grid .location-tile:first-of-type {
              width: calc(50% - 20px);
              height: 470px; }
            body .home .map-section .locations-grid .location-tile:nth-of-type(2) {
              width: calc(50% - 20px); }
            body .home .map-section .locations-grid .location-tile:nth-of-type(3) {
              width: calc(50% - 20px); } }
        @media all and (min-width: 992px) {
          body .home .map-section .locations-grid .location-tile {
            width: calc(25% - 20px); } }
        body .home .map-section .locations-grid .location-tile:hover > .location-hover {
          display: table; }
        body .home .map-section .locations-grid .location-tile .location-hover {
          color: #ffffff;
          background-color: rgba(125, 182, 171, 0.6);
          text-align: center;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
          display: none; }
          body .home .map-section .locations-grid .location-tile .location-hover a.location-info {
            display: table-cell;
            vertical-align: middle;
            padding: 0 10px;
            color: #ffffff;
            text-decoration: none; }
        body .home .map-section .locations-grid .location-tile .location-image {
          background: url("https://media1.britannica.com/eb-media/16/114516-004-68B637CA.jpg") no-repeat 50% 50%;
          background-size: cover;
          position: absolute;
          height: 100%;
          width: 100%; }
  body .single {
    padding: 0;
    background-color: #7db6ab;
    padding: 20px 10px;
    width: 100%;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    @media all and (min-width: 768px) {
      body .single {
        padding: 0 20px; } }
    body .single img {
      width: 100%;
      display: block;
      padding: 0 5px; }
    body .single .double {
      padding: 0; }
      @media all and (min-width: 768px) {
        body .single .double {
          padding: 0 20px; } }
      body .single .double img {
        width: 50%;
        display: inline-block;
        padding: 0 5px; }
    body .single h3 {
      color: #7db6ab; }
    @media all and (min-width: 768px) {
      body .single {
        width: 50%; }
        body .single ul li {
          display: block;
          border-right: none;
          padding: 0; }
        body .single.mapClosed {
          width: 100%; } }
    body .single ul {
      text-align: center; }
      body .single ul li {
        display: block;
        margin: 0 0 10px;
        color: #ffffff; }
        body .single ul li:last-of-type {
          margin: 0; }
        @media all and (min-width: 992px) {
          body .single ul li {
            display: inline-block;
            padding: 0 10px;
            border-right: 2px solid white;
            margin: 0; }
            body .single ul li:last-of-type {
              border: none; } }
        body .single ul li a {
          color: #ffffff;
          font-weight: 500; }
          body .single ul li a:visited {
            color: #ffffff;
            text-decoration: none !important; }

.category .hero-image {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 50vh;
  position: relative; }
  .category .hero-image h1 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto; }
    @media all and (min-width: 992px) {
      .category .hero-image h1 {
        font-size: 125px;
        line-height: 125px; } }

.category .container .intro {
  margin: 20px auto; }

.category .map {
  height: 300px;
  background: url("https://i.stack.imgur.com/RdkOb.jpg") 50% 50% no-repeat;
  background-size: cover;
  margin: 0 0 10px; }
  @media all and (min-width: 768px) {
    .category .map {
      margin: 0 0 20px;
      height: 50vh; } }

.category .locations-grid {
  box-sizing: border-box;
  overflow: hidden; }
  .category .locations-grid .location-tile {
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    margin: 0 0 10px;
    position: relative; }
    @media all and (min-width: 768px) {
      .category .locations-grid .location-tile {
        height: 225px;
        width: calc(50% - 20px);
        float: left;
        position: relative;
        margin: 0 10px 20px 10px; } }
    @media all and (min-width: 992px) {
      .category .locations-grid .location-tile {
        width: calc(33.333% - 20px);
        height: 275px; } }
    .category .locations-grid .location-tile:hover > .location-hover {
      display: table; }
    .category .locations-grid .location-tile .location-hover {
      color: #ffffff;
      background-color: rgba(125, 182, 171, 0.6);
      text-align: center;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: none; }
      .category .locations-grid .location-tile .location-hover a.location-info {
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
        color: #ffffff;
        text-decoration: none; }
    .category .locations-grid .location-tile .location-image {
      background: url("https://media1.britannica.com/eb-media/16/114516-004-68B637CA.jpg") no-repeat 50% 50%;
      background-size: cover;
      position: absolute;
      height: 100%;
      width: 100%; }

footer {
  background-color: #7db6ab;
  padding: 20px 10px;
  width: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-sizing: border-box; }
  @media all and (min-width: 768px) {
    footer {
      width: 100%; }
      footer ul li {
        display: block;
        border-right: none;
        padding: 0; } }
  footer ul {
    text-align: center; }
    footer ul li {
      display: block;
      margin: 0 0 10px;
      color: #ffffff; }
      footer ul li:last-of-type {
        margin: 0; }
      @media all and (min-width: 992px) {
        footer ul li {
          display: inline-block;
          padding: 0 10px;
          border-right: 2px solid white;
          margin: 0; }
          footer ul li:last-of-type {
            border: none; } }
      footer ul li a {
        color: #ffffff;
        font-weight: 500; }
        footer ul li a:visited {
          color: #ffffff;
          text-decoration: none !important; }
